<div class="p-2">
  <a href="/" class="text-dark"><h3 class="float-md-start mb-0">{{ site.title }}</h3></a>
  <nav class="nav nav-masthead justify-content-center float-md-end py-3 p-md-0">{% if page.url == "/" %}
    <a class="nav-link active" aria-current="page" href="/">Home</a>
    {% else %}
    <a class="nav-link" href="/">Home</a>
    {% endif %}
    {% if page.url == "/solitaire/" %}
    <a class="nav-link active" aria-current="page" href="/solitaire/">Solitaire</a>
    {% else %}
    <a class="nav-link" href="/solitaire/">Solitaire</a>
    {% endif %}
    {% if page.url == "/sudoku/" %}
    <a class="nav-link active" aria-current="page" href="/sudoku/">Sudoku</a>
    {% else %}
    <a class="nav-link" href="/sudoku/">Sudoku</a>
    {% endif %}
  </nav>
</div>